<div class="card">
  <div class="card-img-top">
    <img src="{{country.flags.svg}}" alt="{{country.name.official}}" width="40" height="40">
  </div>
  <div class="card-body">
    <h2 class="card-title">{{country.name.official}}</h2>
    <p class="card-text">Capital: {{country.capital}}</p>
    <p class="card-text">Population: {{country.population}}</p>
    <p class="card-text">Languages: {{country.languages}}</p>

  </div>
</div>